.legend {
  display: flex;
  margin: 20px 0 10px 0;
}
.legend-col {
  display: flex;
  align-items: center;
  margin: 10px;
}

.legend-back-btn-row {
  display: flex;
  justify-content: space-between;
}
.legend-back-btn-row .btn {
  align-self: center;
}
.legend-col svg,
.legend-col img {
  margin-left: 10px;
}
